body {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: flex-start;
  margin: 0;
}

.area {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.area_textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 100px;
}

.area_button {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.area_tabela {
  display: flex;
  gap: 20px;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 200px;
  height: 100px;
}

table {
  width: 200px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.repetido {
  background-color: blue;
  color: white;
}
